* {
    margin: 0;
    
}

#overlay{
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0px;
    left: 0px;
    background: rgb(0, 0, 0, 0.3);
}

.tonedDown{
    filter: brightness(50%);
}